@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */

* {
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 8px;
    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.hero {
    height: 919px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hero .hero-container {
    width: 1023px;
    height: 391px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.hero .hero-container .subtitle {
    text-align: center;
    color: white;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

.hero .hero-container .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;

}

.hero .hero-container .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.btnHero {
    width: 282px;
    height: 65px;
}

/*  */
/*  */
.card-box {
    height: 1222px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    ;
}

.card-container {
    /* Frame 17 */

    width: 1320px;
    height: 871px;
    left: 300px;
    top: 167px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    padding: 0px;


}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.card-sub {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .6;
}

.card-title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.cards .card {
    width: 424px;
    height: 522px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32;
    background: rgba(230, 230, 233, 0.719);
}

.cards .card>img {
    width: 424px;
    height: 283px;
}

.cards .card>span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.cards .card>h3 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}

.cards .card>p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

/*  */

.social-section {
    width: 1920px;
    height: 671px;
    display: flex;

}

.social-section img {
    width: 960px;
}

.right-div {
    display: flex;
    width: 960px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.right-div h1 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

.right-div p {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.right-div span {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.icons .fa-brands {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
   
}

.footer{
    width: 1920px;
    height: 671px;
}